@media (max-width: 968px) {
  body.mobile-menu-open {
    overflow-y: hidden;
  }
}
nav {
  z-index: 9999 !important;
}
#notification-modal,
#cookies-bar {
  z-index: 1;
}

.navigation-links.active .menu-item {
  opacity: 1;
}
#toggleMobileMenu.active .hamburger-span {
  opacity: 0;
}
#toggleMobileMenu.active .close-text {
  opacity: 1;
}
#notification-modal.close,
#cookies-bar.close {
  display: none;
}
#transparent-header-until-scroll:not(.active) {
  background-color: transparent !important;
}
